<div class="coplanar-fc-filters">
  <span
     <%= (el) -> el.button() %>
    >
    <span class="ui-icon ui-icon-gear">v</span>
  </span>
  <div class="coplanar-fc-filters-frame ui-widget ui-widget-content ui-state-default ui-corner-all">
    <label>Location</label>
    <select
       class="coplanar-fc-filter"
       <%= (el) -> bindRouteAttr(el, 'location') %>>
      <option value="">All</option>
      <%== makeTypeChoices('location') %>
    </select>
    <label>Event type</label>
    <select
       class="coplanar-fc-filter"
       <%= (el) -> bindRouteAttr(el, 'eventType') %>>
      <option value="">All</option>
      <%== makeTypeChoices('eventType') %>
    </select>
    <label>Status</label>
    <select
       class="coplanar-fc-filter"
       <%= (el) -> bindRouteAttr(el, 'state') %>>
      <option value="">All</option>
      <%== makeTypeChoices('state') %>
    </select>
  </div>
</div>
<h2 style="text-align: center;"><%= getTitle() %></h2>
<div class="coplanar-fc-frame">
  <div
     class="coplanar-fc-prev-button coplanar-fc-nav-button"
     <%= (el) -> el.button() %>
     <%= (el) -> prevPageButton(el) %>
    >&lt;</div>
  <div
    <%= (el) -> setCalendarElement(el) %>
    />
  <div
     class="coplanar-fc-next-button coplanar-fc-nav-button"
     <%= (el) -> el.button() %>
     <%= (el) -> nextPageButton(el) %>
    >&gt;</div>
</div>
