<div>
  <label>Username</label>
  <input type="text"
         <%= (el) -> bindValue(el, 'name') %>
         <%= (el) -> autoFocus(el) %>
  />
</div>
<div>
  <label>Password</label>
  <input type="password"
         <%= (el) -> bindValue(el, 'password') %>
         <%= (el) -> el.keyup(loginOnEnter) %>
  />
</div>
<div>
  <%= data.attr('statusMsg') %>
</div>
