<div>
  <div
     <%= (el) -> el.append(renderData()) %>
    ></div>
  <div class="coplanar-editor-buttons">
    <button style="<%= data.isNew() ? '' : 'display: none;'%>"
            <%= (el) -> saveButton(el.button()) %>
      >
      Create
    </button>
    <button style="<%= data.isNew() ? 'display: none;' : ''%>"
       <%= (el) -> saveButton(el.button()) %>
      >
      Save
    </button>
  </div>
</div>
